{erl_opts, [debug_info]}.
{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.0"}}}
]}.

{relx, [{release, {simple_cowboy, "0.1.0"}, [simple_cowboy, sasl, cowboy]},
        {mode, dev},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.

{profiles, [{prod, [{relx, [{mode, prod}]}]}]}.